
/*************Formulaire ************/
.formContainer {
    width: 400px;
    height: 100px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 5px;

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.nbPokemonsJs{
    width: 150px;
    margin: 10px;
}


/*************Affichage des pokemons*********************/


.conteneurAPokemons{
    margin: 50px 100px;
    gap: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}





article{
    width: 170px;
    height: 170px;
    border-radius: 5px;
    text-align: center;
}

.numPokemon {
    font-size : 0.8em;
    margin-top: 15px;
    margin-bottom: 0;
}

.nomPokemon {
    font-weight: 600;
    margin: 0;
}

.type {
    margin: 0;
    font-size: 0.8em;
}


/**************Liste des types de pokemon **************/


.normal{
    background-color: aliceblue;
}

.fighting {
    background-color: darkred;
}

.flying {
    background-color: darkcyan;
}

.poison {
    background-color: rgb(207, 160, 250);
}

.ground {
    background-color:rgb(145, 96, 57);
}

.rock {
    background-color: gray;
}

.bug {
    background-color: darkgoldenrod;
}

.ghost {
    background-color: beige;
}

.steel {
    background-color: rgb(94, 91, 91);
}

.fire {
    background-color: orange;
}

.water {
    background-color: rgba(4, 146, 241, 0.589);
}

.grass {
    background-color: rgb(120, 182, 27);
}

.electric {
    background-color: rgb(230, 216, 25);
}

.psychic {
    background-color: darkmagenta;
}

.ice {
    background-color:aqua;
}

.dragon {
    background-color: darkgoldenrod;
}

.dark {
    background-color: rgb(44, 44, 44);
}

.fairy {
    background-color: deeppink;
}

.unknown {
    background-color: aliceblue;
}

.shadow {
    background-color: rgb(68, 66, 66);
}
